/*.menu dd a.on{border-top: 1px solid #fff}*/
.validate .field .strength{position: absolute;display: none;line-height: 0px;font-size: 12px;top:40px;left: 0px;}
.validate .field .strength label{display: inline-block;height: 15px;line-height: 15px;color: #888}
.validate .field .strength span{display: inline-block;margin-left: 3px;width: 48px;height: 13px;border: 1px solid #e3e3e3;line-height: 14px;text-align: center;background:#E0DCDC;color: #fff; }
.validate .field .strength .strengthA{background: #e95b4c;border:1px solid #e95b4c;}
.validate .field .strength .strengthB{background: #ff9c00;border:1px solid #ff9c00;}
.validate .field .strength .strengthC{background: #58c379;border:1px solid #58c379;}
.validate .confirm_pwd{margin-top: 35px;}
