html,body{background: #fff;}
#message-con { height: 235px; width: 460px; background-color: #FFF; overflow: hidden; }
#message-con .info { height: 184px; overflow: auto; font-size: 14px; line-height: 20px; margin-top: 10px; padding-right: 10px; padding-left: 10px; margin-bottom: 10px; }
#message-con .page { height: 30px; border-top-width: 1px; border-top-style: solid; border-top-color: #CCC; line-height: 30px; padding:0 10px; }
/*重写弹出框头样式*/
.ui_title{text-align: center;color: #666;font: 16px "微软雅黑";line-height: 40px;}

.info a { text-decoration: underline; color: #0082cb; outline: 0 none; }
.info a:hover { text-decoration: underline; }
.action-state{padding-top:80px;}  
.action-state .a-s-con{ width:180px;}
.info p{text-indent: 2em;font: 14px '微软雅黑'}
.info .name{text-indent: 0px;}
.page a,.page span{font-size: 12px;color: #555;}
.page a:hover{text-decoration: underline;color: #f60 }